body {
  background: url(dw-bg.png);
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: -1; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

img {
  padding: 5px;
  width: 150px;
}

.log-container {
  height: 500px;
  overflow-y: scroll;
}

.fee {
  position: fixed;
  right: 0;
  padding: 8px;
  margin: 8px;
  background-color: #9aad00;
}

.tool-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}